@using WebApp.DAL.Entity;
@model WebApp.Areas.Admin.ViewModels.SpecimenCollectionVM
@{
    ViewBag.Title = "Manage Specimen Collections";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Laboratory management</span>
        <h3 class="page-title">Manage Specimen Collections</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header">

                <div class="m-0">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="socialGitHub">Search by:</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.BillInvoiceNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Invoice Number", id = "Searchby", required = true } })
                                <div class="invalid-feedback">
                                    Invoice Number required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="socialGitHub">-</label>
                            <div class="input-group input-group-seamless">
                                <button class="btn btn-primary" id="Search">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset>
                <legend class="text-center">Customer Information</legend>
                <div id="customerInfoLoader" style="display:none" class="col text-center">
                    <img src="~/Content/images/Spinner.gif" style="width:50px;height:50px" />
                </div>
                <div id="customerinfoDiv">
                    <table class="file-manager file-manager-list2 d-none table-responsive">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">Name</th>
                                <th scope="col" class="border-0">Gender</th>
                                <th scope="col" class="border-0">Age</th>
                                <th scope="col" class="border-0">Phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="Customername"></td>
                                <td id="Customergender"></td>
                                <td id="Customerage"></td>
                                <td id="Customerphonenumber"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="card card-small mb-4">
            <div class="card-body">
                <div class="m-0">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="RequestingDate">Requesting Date</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.RequestingDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = true } })
                                <div class="invalid-feedback">
                                    Requesting Date required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="RequestingPhysician">Requesting Physician</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.RequestingPhysician, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter physician", required = true } })
                                <div class="invalid-feedback">
                                    Requesting physician required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-small mb-4" id="ServiceTableLoader" style="display:none" >
            <div class="card-body">
                <div class="col text-center">
                    <img src="~/Content/images/Spinner.gif" style="width:50px;height:50px" />
                </div>
            </div>
        </div>
        <div id="serviceTableDiv">
            <div class="card-body p-0 pb-3 text-center">
                <table class="file-manager file-manager-list2 d-none table-responsive">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">Service/Test</th>
                            <th scope="col" class="border-0">Specimen</th>
                            <th scope="col" class="border-0">Collection Status</th>
                        </tr>
                    </thead>
                    <tbody id="ServiceBody">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-small mb-4">
            <div class="card-body">
                <div class="m-0">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ClinicalSummary">Clinical Summary</label>
                            <div class="input-group input-group-seamless">
                                @Html.TextAreaFor(model => model.ClinicalSummary, 2, 0, new { @class = "form-control", required = true })
                                <div class="invalid-feedback">
                                    Clinical summary required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ProvitionalDiagnosis">Provitional Diagnosis</label>
                            <div class="input-group input-group-seamless">
                                @Html.TextAreaFor(model => model.ProvitionalDiagnosis, 2, 0, new { @class = "form-control", required = true })
                                <div class="invalid-feedback">
                                    Provitional diagnosis required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="OtherInformation">Other Information</label>
                            <div class="input-group input-group-seamless">
                                @Html.TextAreaFor(model => model.OtherInformation, 2, 0, new { @class = "form-control", required = true })
                                <div class="invalid-feedback">
                                    Other information required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" id="FinishBtn">
                Save
            </button>
        </div>
        <br />
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/SpecimenCollections.js"></script>
}
