@{
    ViewBag.Title = "Register Customer";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Customer Management</span>
        <h3 class="page-title">Register Customers</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">
                    Registered Customers
                    <button class="btn btn-primary fa-pull-right" data-toggle="modal"
                            data-target="#Create">
                        <i class="material-icons">add</i> Add Customer
                    </button>
                </h6>
            </div>
                <table class="file-manager file-manager-list d-none table-responsive">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">Unique ID</th>
                            <th scope="col" class="border-0">Name</th>
                            <th scope="col" class="border-0">Gender</th>
                            <th scope="col" class="border-0 d-none">Date of birth</th>
                            <th scope="col" class="border-0 d-none">Email</th>
                            <th scope="col" class="border-0">Phone number</th>
                            <th scope="col" class="border-0 d-none">Address</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ViewBag.Customers)
                        {
                        <tr>
                            <td>@row.CustomerUniqueID</td>
                            <td>@row.Firstname @row.Lastname</td>
                            <td>@row.Gender</td>
                            <td class="d-none">@row.DOB.ToShortDateString()</td>
                            <td class="d-none">@row.Email</td>
                            <td>@row.PhoneNumber</td>
                            <td class="d-none">@row.Address</td>
                           
                        </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/Customer.js"></script>
}
@Html.Partial("_CreateCustomer")
