@model WebApp.Areas.Admin.ViewModels.Report.RequestTrackerVM
@{
    ViewBag.Title = "Cloth Tracking/Collection";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Activity management</span>
        <h3 class="page-title">Cloth Tracking/Collection</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">
                    Request Tracker Reports
                </h6>
                <br />
                <div class="m-0">
                    @using (Html.BeginForm("RequestTracker", "Activity", FormMethod.Post, new { area = "Admin", @class = "validate", novalidate = true }))
                    {
                    <div class="row">
                        <div class="col-md-8">
                            <label for="socialGitHub">Customer number or Phone number</label>
                            @Html.EditorFor(model => model.CustomerUniqueID, new { htmlAttributes = new { @class = "form-control CustomerUnique Search", autocomplete = "off", placeholder = "Enter Customer number or Phone number" } })
                        </div>

                        <div class="col-md-4">
                            <label for="socialGitHub">Receipt Number</label>
                            @Html.EditorFor(model => model.ReceiptNumber, new { htmlAttributes = new { @class = "form-control RecieptNumberAutoComplete", autocomplete = "off", placeholder = "Enter Receipt Number" } })
                        </div>
                    </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="socialGitHub">Bill Number</label>
                                    @Html.EditorFor(model => model.BillNumber, new { htmlAttributes = new { @class = "form-control BillNumberAutoComplete", autocomplete = "off", placeholder = "Enter Bill Number" } })
                                </div>
                            <div class="col-md-4">
                                <label>Start Date</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", autoComplete = "Off", placeholder = "DD/MM/YYYY" } })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>End Date</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", autoComplete = "Off", placeholder = "DD/MM/YYYY" } })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-primary">
                                    <i class="material-icons">search</i> Search
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <table class="transaction-history" style="white-space:nowrap">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Bill Number</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Total Deposit</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Payment Completed</th>
                        <th scope="col">Is Cloth Ready</th>
                        <th scope="col">Cloth Collected</th>
                        <th scope="col">Collected By</th>
                        <th scope="col">Date Collected</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.TableData != null)
                        {
                            var counter = 0;
                            foreach (var row in ViewBag.TableData)
                            {
                                counter++;
                                <tr>
                                    <td>@counter</td>
                                    <td>@row.BillNumber</td>
                                    <td>@row.CustomerName</td>
                                    <td>@row.TotalAmount</td>
                                    <td>@row.TotalDeposit</td>
                                    <td>@row.Balance</td>
                                    <td>
                                        @if (row.HasCompletedPayment)
                                        {
                                            @*<i class='fa fa-check fa-2x text-success'></i>*@
                                            <span>Yes</span>
                                        }
                                        else
                                        { @*<i class='fa fa-times fa-2x text-danger'></i>*@
                                        <span>No</span>
                                    }
                                    </td>
                                    <td>
                                        @if (row.IsClothReady)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                    <td>
                                        @if (row.ClothCollected)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                    @{
                                        if (row.ClothCollectedBy == null)
                                        {
                                            <td>-</td>

                                        }
                                        else
                                        {
                                            <td>@row.ClothCollectedBy</td>

                                        }
                                    }

                                    @{
                                        if (row.ClothCollectedOn == null)
                                        {
                                            <td>-</td>

                                        }
                                        else
                                        {
                                            <td>@row.ClothCollectedOn</td>

                                        }
                                    }
                                    <td>
                                        @{
                                            if (!row.ClothCollected && row.HasCompletedPayment && row.IsClothReady)
                                            {
                                                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#ClothCollection" onclick="GetDetails('@row.BillNumber')" title="Click to view more">
                                                    Collect
                                                    <i class="material-icons">&#xE5CA;</i>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_ClothCollector")
@section Scripts{
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Areas/Admin/Scripts/Preparations.js"></script>
    <script src="~/Areas/Admin/Scripts/ViewRequestTracker.js"></script>
}

