@using WebApp.DAL.Entity;
@model WebApp.Areas.Admin.ViewModels.CashCollectionVM
@{
    ViewBag.Title = "Cash Collections";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Account management</span>
        <h3 class="page-title">Cash Collections</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header">

                <div class="m-0">
                    @using (Html.BeginForm("CashCollections", "Payment", FormMethod.Post, new { area = "Admin", @class = "validate", novalidate = true }))
                    {
                        <div style="background: #c1cee7; border-radius:10px">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    @foreach (var item in Enum.GetValues(typeof(CollectionType)).Cast<CollectionType>().ToList())
                                    {
                                        <span style="margin:10px;">
                                            @Html.RadioButtonFor(model => model.CollectionType, item, new { id = item, @class = "Status", required = true })
                                            <label for="@item"><strong>@item.DisplayName()</strong></label>
                                        </span>
                                    }
                                    <div class="invalid-feedback">
                                        Customer Type required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="searchform">
                            <div class="form-group col-md-8" id="CustomerIDDiv" style="display:none">
                                <label for="socialGitHub">Customer number or Phone number</label>
                                <div class="input-group input-group-seamless">
                                    @Html.EditorFor(model => model.CustomerUniqueID, new { htmlAttributes = new { @class = "form-control CustomerUnique", placeholder = "Enter Customer number or Phone number", required = true } })
                                    <div class="invalid-feedback">
                                        Customer number or phone number required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-8" id="InvoiceDiv" style="display:none">
                                <label for="socialGitHub">Invoice Number</label>
                                <div class="input-group input-group-seamless">
                                    @Html.EditorFor(model => model.BillInvoiceNumber, new { htmlAttributes = new { @class = "form-control BillNumberAutoComplete", placeholder = "Enter Invoice Number", required = true } })
                                    <div class="invalid-feedback">
                                        Invoice Number required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="socialGitHub">-</label>
                                <div class="input-group input-group-seamless">
                                    <button class="btn btn-primary" id="SearchCustomer">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <fieldset>
                <legend class="text-center">Customer Information</legend>
                <div id="customerInfoLoader" style="display:none" class="col text-center">
                    <img src="~/Content/images/Spinner.gif" style="width:50px;height:50px" />
                </div>
                <div id="customerinfoDiv">
                    <table class="file-manager file-manager-list2 d-none table-responsive">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">Name</th>
                                <th scope="col" class="border-0">Gender</th>
                                <th scope="col" class="border-0">Age</th>
                                <th scope="col" class="border-0">Phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="Customername"></td>
                                <td id="Customergender"></td>
                                <td id="Customerage"></td>
                                <td id="Customerphonenumber"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </fieldset>

        </div>
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <div class="m-0">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="socialGitHub">Cloth Type/Product Name</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Cloth Type/Product", required = true } })
                                <div class="invalid-feedback">
                                    Cloth Type/Product Name required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 pb-3 text-center">
                <div id="ServiceTableLoader" style="display:none" class="col text-center">
                    <img src="~/Content/images/Spinner.gif" style="width:50px;height:50px" />
                </div>
                <div id="serviceTableDiv">
                    <table class="file-manager file-manager-list2 d-none table-responsive">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0"></th>
                                <th scope="col" class="border-0">Cloth Type/Product</th>
                                <th scope="col" class="border-0">Quantity</th>
                                <th scope="col" class="border-0">Price (₦)</th>
                                <th scope="col" class="border-0">Gross Amount (₦)</th>
                            </tr>
                        </thead>
                        <tbody id="ServiceBody">
                        </tbody>
                        <tfoot style="border-top: 2px solid black; border-bottom: 2px solid black;background-color:#dcdfe1" class="text-center">
                            <tr>
                                <th colspan="3"></th>
                                <th> Net Amount (₦)</th>
                                <td id="NetAmount">₦0.00</td>
                            </tr>
                            <tr>
                                <th colspan="3"></th>
                                <th>Waived Amount (₦)</th>
                                <td id="WaiveAmount">₦0.00</td>
                            </tr>
                            @*<tr>
                                    <th colspan="3"></th>
                                    <th>Deposited Amount (₦)</th>
                                    <td id="DepositAmount">₦0.00</td>
                                </tr>*@
                            <tr>
                                <th colspan="3"></th>
                                <th>Total Paid Amount (₦)</th>
                                <td id="PaidAmount">₦0.00</td>
                            </tr>
                            <tr>
                                <th colspan="3"></th>
                                <th> Amount To Pay (₦)</th>
                                <td id="BalanceAmount">₦0.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div id="PaymentModeDiv" style="background: #c1cee7; border-radius:10px">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <span style="margin:10px;">
                        <input type="radio" id="FinalPayment" class="paymentMode" value="FinalPayment" checked>
                        <label for="FinalPayment"><b>Final Payment</b></label>
                        <input type="radio" class="paymentMode" id="Deposit" value="Deposit">
                        <label for="Deposit"><b>Deposit</b></label>

                    </span>
                </div>
            </div>
        </div>
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <div class="m-0">
                    <div class="row">
                        <div class="form-group col-md-12" id="InstallmentDiv" style="display:none">
                            <label for="PaymentType">Installment</label>
                            <div class="input-group input-group-seamless">
                                <select id="installmentdrp" class="form-control" style="font-weight:500">
                                    <option value=""> --Select Installment-- </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="PaymentType">Payment Method</label>
                            <div class="input-group input-group-seamless">
                                @Html.DropDownListFor(model => model.PaymentType, EnumHelper.GetSelectList(typeof(PaymentType)), new { @class = "form-control", required = true })
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="refDiv" style="display:none">
                            <label for="ReferenceNumber">Reference Number</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.TransactionReferenceNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Reference number", required = true } })
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="AmountToDepositDiv" style="display:none">
                            <label for="AmountString">Amount To Deposit</label>
                            <div class="input-group input-group-seamless">
                                @Html.EditorFor(model => model.AmountToDepositString, new { htmlAttributes = new { @class = "form-control currency", required = true } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" disabled type="submit" id="FinishBtn">
                Pay Now
            </button>
        </div>
        <br />
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Areas/Admin/Scripts/CashCollections.js"></script>
}
