@model WebApp.Areas.Admin.ViewModels.ClothTypeMeasurementVM
@{
    ViewBag.Title = "Cloth Type Measurement Setup";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Settings</span>
        <h3 class="page-title">Cloth Type Measurement Setup</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">
                    Active Cloth Type Measurements
                    <button class="btn btn-primary fa-pull-right" data-toggle="modal"
                            data-target="#Create">
                        <i class="material-icons">add</i> Add Cloth Type Measurement
                    </button>
                </h6>
                <br />
                <div class="m-0">
                    @using (Html.BeginForm("ManageClothTypeMeasurements", "ApplicationSettings", FormMethod.Post, new { area = "Admin", @class = "validate", novalidate = true }))
                    {
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="socialGitHub">Cloth Type</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">bloodtype</i>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.ClothTypeID, (IEnumerable<SelectListItem>)ViewBag.ClothType, "-- Select Cloth Type --", new { @class = "form-control" })
                                <div class="invalid-feedback">
                                    ClothType required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="socialGitHub">Measurement</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">bloodtype</i>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.MeasurementID, (IEnumerable<SelectListItem>)ViewBag.Measurement, "-- Select Measurement --", new { @class = "form-control" })
                            <div class="invalid-feedback">
                                Measurement required
                            </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary">
                                <i class="material-icons">search</i> Search
                            </button>
                        </div>
                    }
                </div>
            </div>
                <table class="file-manager file-manager-list d-none table-responsive">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">Cloth Type</th>
                            <th scope="col" class="border-0">Measurement</th>
                            <th scope="col" class="border-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.ClothTypeMeasurements != null)
                            {
                                if (ViewBag.ClothTypeMeasurements.Count > 0)
                                {
                                    foreach (var row in ViewBag.ClothTypeMeasurements)
                                    {
                                        <tr>
                                            <td>@row.ClothType</td>
                                            <td>@row.Measurement</td>
                                            <td>
                                                <button type="button" onclick="Edit(@row.Id)" class="btn btn-outline-accent" data-toggle="modal" data-target="#Edit">
                                                    <i class="dropdown-icon lnr-pencil"> </i><span>Edit</span>
                                                </button>
                                                <button type="button" onclick="Prompt(@row.Id)" class="btn btn-outline-danger">
                                                    <i class="dropdown-icon lnr-trash"> </i><span>Delete</span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">No data found</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/ClothTypeMeasurement.js"></script>
}
@Html.Partial("_EditClothTypeMeasurement")
@Html.Partial("_CreateClothTypeMeasurement")
