@model WebApp.Areas.Admin.ViewModels.TemplateVM
@{
    ViewBag.Title = "Manage Templates";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Seed management</span>
        <h3 class="page-title">Manage Templates</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">
                    Active Templates
                    <button class="btn btn-primary fa-pull-right" data-toggle="modal"
                            data-target="#Create">
                        <i class="material-icons">add</i> Add Template
                    </button>
                </h6>
                <br />
                <div class="m-0">
                    @using (Html.BeginForm("ManageTemplates", "Seed", FormMethod.Post, new { area = "Admin", @class = "validate", novalidate = true }))
                    {
                        <div class="form-group col-md-8">
                            <label for="socialGitHub">Service Department</label>
                            <div class="input-group input-group-seamless">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">bloodtype</i>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.ServiceDepartmentID, (IEnumerable<SelectListItem>)ViewBag.ServiceDepartments, "-- Select service department --", new { @class = "form-control", required = true })
                                <div class="invalid-feedback">
                                    Service department required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary">
                                <i class="material-icons">search</i> Search
                            </button>
                        </div>
                    }
                </div>
            </div>
            <table class="file-manager file-manager-list d-none table-responsive">
                <thead class="bg-light">
                    <tr>
                        <th scope="col" class="border-0">Name</th>
                        <th scope="col" class="border-0">Service Department</th>
                        <th scope="col" class="border-0">Use Default Parameters</th>
                        <th scope="col" class="border-0">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.Templates != null)
                        {
                            if (ViewBag.Templates.Count > 0)
                            {
                                foreach (var row in ViewBag.Templates)
                                {
                                    <tr>
                                        <td>@row.Name</td>
                                        <td>@row.ServiceDepartment</td>
                                        <td>@(row.UseDefaultParameters ? "YES" : "NO")</td>
                                        <td>
                                            <button type="button" onclick="Edit(@row.Id)" class="btn btn-outline-accent" data-toggle="modal" data-target="#Edit">
                                                <i class="dropdown-icon lnr-pencil"> </i><span>Edit</span>
                                            </button>
                                            <button type="button" onclick="Prompt(@row.Id)" class="btn btn-outline-danger">
                                                <i class="dropdown-icon lnr-trash"> </i><span>Delete</span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No data found</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/Template.js"></script>
}
@Html.Partial("_EditTemplate")
@Html.Partial("_CreateTemplate")
