@{
    ViewBag.Title = "Manage Roles";
}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">User management</span>
        <h3 class="page-title">Manage Roles</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">
                    Active Roles
                    <button class="btn btn-primary fa-pull-right" data-toggle="modal"
                            data-target="#Create">
                        <i class="material-icons">add</i> Add Role
                    </button>
                </h6>
            </div>
                <table class="file-manager file-manager-list d-none table-responsive">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">Role</th>
                            <th scope="col" class="border-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ViewBag.Roles)
                        {
                            <tr>
                                <td>@row.Description</td>
                                <td>
                                    <button type="button" onclick="Edit(@row.Id)" class="btn btn-outline-accent" data-toggle="modal" data-target="#Edit">
                                        <i class="dropdown-icon lnr-pencil"> </i><span>Edit</span>
                                    </button>
                                    <button type="button" onclick="Prompt(@row.Id)" class="btn btn-outline-danger">
                                        <i class="dropdown-icon lnr-trash"> </i><span>Delete</span>
                                    </button>
                                    <a href="@Url.Action("ManagePermissions","User",new { RoleID = row.Id })" class="btn btn-outline-java">
                                        <i class="dropdown-icon ion-android-done-all"></i><span>Manage permissions</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/Role.js"></script>
}
@Html.Partial("_EditRole")
@Html.Partial("_CreateRole")
